<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        <title>{% block title %}Baksey App{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset("assets/css/backend-vendor.css", null, null, 1.0) }}" />
            <link rel="stylesheet" href="{{ asset('assets/css/dropzone.css', null, null, 1.0) }}" />
            <link rel="stylesheet" href="{{ asset("assets/css/backend.css", null, null, 0.2) }}" />
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body id="admin-{% block body_id '' %}" class="admin hold-transition skin-blue sidebar-mini wysihtml5-supported {% block body_class %}{% endblock %}">
        <div class="wrapper">
            {% block header %}
                <header class="main-header">
                    <a href="{{ path('admin_dashboard') }}" class="logo">
                        <span class="logo-mini"><i class="fa fa-home"></i></span>
                        <span class="logo-lg"><i class="fa fa-home"></i> <strong>Baksey</strong> App</span>
                    </a>

                    <nav class="navbar navbar-static-top" role="navigation">
                        <a href="javascript:void(0);" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                            <span class="sr-only">Toggle Navigation</span>
                        </a>

                        <div class="navbar-custom-menu">
                            <ul class="nav navbar-nav">
                                <!-- User Account: style can be found in dropdown.less -->
                                <li class="dropdown user user-menu">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                        <img src="{{ asset(app.user.getProfilePictureWebDir ~'/'~ app.user.profilePicture) }}" class="user-image" alt="Avatar" style="object-fit: cover;">
                                        <span class="hidden-xs">
                                            {% if app.user.getFullName | length > 0 %}
                                                {{ app.user.getFullName }}
                                            {% else %}
                                                {{ app.user.username }}
                                            {% endif %}
                                        </span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <!-- User image -->
                                        <li class="user-header">
                                            <img src="{{ asset(app.user.getProfilePictureWebDir ~'/'~ app.user.profilePicture) }}" class="img-circle" alt="Avatar" style="object-fit: cover;">
                                            <p>{{ app.user.getFullName }} - {{ app.user.username }}</p>
                                        </li>
                                        <!-- Menu Footer-->
                                        <li class="user-footer">
                                            <div class="pull-left">
                                                <a href="{{ path('admin_user_profile') }}" class="btn btn-default btn-flat">Your Profile</a>
                                            </div>
                                            <div class="pull-right">
                                                <a href="{{ path('fos_user_security_logout') }}" class="btn btn-default btn-flat">{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </header>
                <div class="clearfix"></div>
            {% endblock %}

            {% block aside_menu %}
                {% include '::base-admin-sidebar.html.twig' %}
            {% endblock %}

            <div class="content-wrapper" style="min-height: 916px;">
                <section class="content-header">
                    {% block flash_message %}
                        {% for type, messages in app.session.flashbag.all %}
                            {% for msg in messages %}
                                <div class="callout callout-{{ type }}">
                                    {{ msg }}
                                </div>
                            {% endfor %}
                        {% endfor %}
                    {% endblock %}
                    {% block section_header %}{% endblock %}
                </section>
                <section class="content">
                    {% block body %}{% endblock %}
                </section>
            </div>

            {% block footer %}
                <footer class="main-footer">
                    Developed by <strong>A Developer</strong>
                </footer>
            {% endblock %}
        </div>

        {% block modal '' %}

        {% block javascripts %}
            <script src="{{ asset('assets/js/backend-vendor.js', null, null, 1.0) }}" type="application/javascript"></script>
            <script src="{{ asset('assets/js/backend.js', null, null, random()) }}" type="application/javascript"></script>
            <script type="application/javascript">
                Dropzone.autoDiscover = false;
            </script>
        {% endblock %}
        {% block custom_javascript %}
            {#<script>#}
                {#$('table').dataTable({#}
                    {#responsive: true#}
                {#});#}
            {#</script>#}


            <script type="text/html" id="custom-dz-preview-template">
                <div class="grid dz-file-preview">
                    <div class="gridInner dz-details">
                        <img
                            src="{{ asset('assets/image/no-image.jpg') }}"
                            data-dz-thumbnail style="display: none;" />
                        <div class="titleGrid dz-filename"></div>
                        <div class="dz-progress progress-bar progress-bar-green" role="progressbar" data-dz-uploadprogress></div>
                    </div>
                </div>
            </script>
            <script type="application/javascript">
                $(document).ready(function () {
                    $('#my-dropzone').dropzone({
                        addRemoveLinks: true,
                        clickable: true,
                        autoProcessQueue: true,
                        parallelUploads: 10,
                        dictRemoveFileConfirmation: 'Are you sure you want to remove this media?',
                        previewsContainer: '.dropzone-previews',
                        previewTemplate: $('#custom-dz-preview-template').html(),
                        init: function () {
                            this.on('success', function (media, response) {
                                media.id = response.id;
                                this.options.thumbnail.call(this, media, response.thumbnailUrl);
                            });
                        },
                        addedfile: function (media) {
                            media.previewElement    = Dropzone.createElement(this.options.previewTemplate.trim());
                            media.previewTemplate   = media.previewElement;

                            $('.dz-filename', media.previewElement).text(media.name);
                            //console.log($('[data-dz-name]', media.previewElement), media.name);

                            if (this.options.addRemoveLinks) {
                                media._removeLink = Dropzone.createElement("<div class=\"dz-remove removeLink\" href=\"javascript:undefined;\" data-dz-remove>" + this.options.dictRemoveFile + "</div>");
                                $('.dz-progress', media.previewElement).before(media._removeLink);

                                removeFileEvent = (function(_this) {
                                    return function(e) {
                                        e.preventDefault();
                                        e.stopPropagation();
                                        if (media.status === Dropzone.UPLOADING) {
                                            return Dropzone.confirm(_this.options.dictCancelUploadConfirmation, function() {
                                                return _this.removeFile(media);
                                            });
                                        } else {
                                            if (_this.options.dictRemoveFileConfirmation) {
                                                return Dropzone.confirm(_this.options.dictRemoveFileConfirmation, function() {
                                                    return _this.removeFile(media);
                                                });
                                            } else {
                                                return _this.removeFile(media);
                                            }
                                        }
                                    };
                                })(this);

                                $(media._removeLink).on('click', removeFileEvent);
                            }

                            $(this.previewsContainer).prepend(media.previewElement);
                        },
                        removedfile: function (media) {
                            var jThis = $(media.previewElement);

                            if(typeof media.id !== 'undefined') {
                                $.ajax({
                                    type: 'POST',
                                    url: '{{ path('admin_media_delete') }}/' + media.id,
                                    success: function (response) {
                                        if (true == response.result) {
                                            $(media.previewElement).fadeOut(function () {
                                                $(this).remove();
                                            });
                                        }
                                    }
                                });
                            }
                            else {
                                jThis.fadeOut(function () {
                                    jThis.remove();
                                });
                            }
                        },
                        success: function (media) {
                            var jThis = $(media.previewElement);
                            $('img', jThis).fadeIn();
                        }
                    });

                    $('.dz-remove-server').on('click', function () {
                        var _this       = $(this);
                        var removeUrl   = _this.data('remove-url');
                        var confDel     = confirm('Are you sure you want to delete this media?');

                        if(removeUrl && confDel) {
                            $.ajax({
                                type: 'POST',
                                url: removeUrl,
                                success: function (response) {
                                    if(response.result) {
                                        _this.parent().parent().fadeOut(function () {
                                            _this.parent().parent().remove();
                                        });
                                    }
                                }
                            });
                        }
                    });

                    $('.titleGrid', '.library-grid').on('click', function () {
                        var _this = $(this);
                        _this.parent().toggleClass('selected');
                    });
                });
            </script>
        {% endblock %}
    </body>
</html>
